[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ckeditor = "*"
pillow = "*"
pylint = "*"
pylint-django = "*"

[dev-packages]

[requires]
python_version = "3.9"

#!Scripts personalizados para lanzar con pipenv run *******
[scripts]
start = "python manage.py runserver"
migrations = "python manage.py makemigrations" 
migrate = "python manage.py migrate" 